body {
    text-align: center;
    background-color: rgb(224, 223, 222);
}

h1 {
    color: rgb(51, 43, 0);
}

.btn-secondary {
    background-color: green;
    color: white;
}

#remove {
    background-color: red;
    color: white;
}